.iris-picker {
    display: block;
    position: relative
}
.iris-picker,.iris-picker * {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}
input + .iris-picker {
    margin-top: 4px
}
.iris-error {
    background-color: #ffafaf
}
.iris-border {
    border-radius: 3px;
    border: 1px solid #aaa;
    width: 200px;
    background-color: #fff
}
.iris-picker-inner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0
}
.iris-border .iris-picker-inner {
    top: 10px;
    right: 10px;
    left: 10px;
    bottom: 10px
}
.iris-picker .iris-square-inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}
.iris-picker .iris-square,.iris-picker .iris-slider,.iris-picker .iris-square-inner,.iris-picker .iris-palette {
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.4);
    height: 100%;
    width: 12.5%;
    float: left;
    margin-right: 5%
}
.iris-picker .iris-square {
    width: 76%;
    margin-right: 10%;
    position: relative
}
.iris-picker .iris-square-inner {
    width: auto;
    margin: 0
}
.iris-ie-9 .iris-square,.iris-ie-9 .iris-slider,.iris-ie-9 .iris-square-inner,.iris-ie-9 .iris-palette {
    box-shadow: none;
    border-radius: 0
}
.iris-ie-9 .iris-square,.iris-ie-9 .iris-slider,.iris-ie-9 .iris-palette {
    outline: 1px solid rgba(0,0,0,.1)
}
.iris-ie-lt9 .iris-square,.iris-ie-lt9 .iris-slider,.iris-ie-lt9 .iris-square-inner,.iris-ie-lt9 .iris-palette {
    outline: 1px solid #aaa
}
.iris-ie-lt9 .iris-square .ui-slider-handle {
    outline: 1px solid #aaa;
    background-color: #fff;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=30)"
}
.iris-ie-lt9 .iris-square .iris-square-handle {
    background: none;
    border: 3px solid #fff;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=50)"
}
.iris-picker .iris-strip {
    margin-right: 0;
    position: relative
}
.iris-picker .iris-strip .ui-slider-handle {
    position: absolute;
    background: none;
    right: -3px;
    left: -3px;
    border: 4px solid #aaa;
    border-width: 4px 3px;
    width: auto;
    height: 6px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    opacity: .9;
    z-index: 5;
    cursor: ns-resize
}
.iris-strip .ui-slider-handle:before {
    content: " ";
    position: absolute;
    left: -2px;
    right: -2px;
    top: -3px;
    bottom: -3px;
    border: 2px solid #fff;
    border-radius: 3px
}
.iris-picker .iris-slider-offset {
    position: absolute;
    top: 11px;
    left: 0;
    right: 0;
    bottom: -3px
}
.iris-picker .iris-square-handle {
    background: transparent;
    border: 5px solid #aaa;
    border-radius: 50%;
    border-color: rgba(128,128,128,.5);
    box-shadow: none;
    width: 12px;
    height: 12px;
    position: absolute;
    left: -10px;
    top: -10px;
    cursor: move;
    opacity: 1;
    z-index: 10
}
.iris-picker .ui-state-focus .iris-square-handle {
    opacity: .8
}
.iris-picker .iris-square-handle:hover {
    border-color: #999
}
.iris-picker .iris-square-value:focus .iris-square-handle {
    box-shadow: 0 0 2px rgba(0,0,0,.75);
    opacity: .8
}
.iris-picker .iris-square-handle:hover: :after {
    border-color: #fff
}
.iris-picker .iris-square-handle: :after {
    position: absolute;
    bottom: -4px;
    right: -4px;
    left: -4px;
    top: -4px;
    border: 3px solid #f9f9f9;
    border-color: rgba(255,255,255,.8);
    border-radius: 50%;
    content: " "
}
.iris-picker .iris-square-value {
    width: 8px;
    height: 8px;
    position: absolute
}
.iris-ie-lt9 .iris-square-value,.iris-mozilla .iris-square-value {
    width: 1px;
    height: 1px
}
.iris-palette-container {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0
}
.iris-border .iris-palette-container {
    left: 10px;
    bottom: 10px
}
.iris-picker .iris-palette {
    margin: 0;
    cursor: pointer
}
.styler_border_color, .styler_hover_border_color:hover, .styler_parent:hover > .styler_hover_border_color, .styler_parent_active.active > .styler_active_border_color, .styler_active_itself_border_color.active, .styler_active_itself_border_color.active + .styler_active_next_border_color {
    border-color: #a1a64a !important;
    }
.styler_color, .styler_hover_color:hover, .styler_parent_active.active > .styler_active_color {
    color: #a1a64a !important;
}
.styler_bg_color, .styler_hover_bg_color:hover, .styler_parent_active.active > .styler_active_bg_color {
    background-color: #a1a64a !important;
}

/*Menu Homepage*/
.supmenu, .submenu {
    position: relative;
}

.supmenu > .dropdown-menu {
    top: 40px;
    margin-top: -6px;
    margin-left: -1px;
}
.submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 4px 0 4px 4px;
    margin-top: 5px;
    margin-right: -10px;
}

.submenu>a:after {
    border-left-color: #ccc;
}

.supmenu>a:after {
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
}

.nav-pills > li > a {
    border-radius: 0px!important;
}

#top_menu .nav-pills>.active>a, #top_menu .nav-pills>li>a:hover {
    background: #A1A64A;
    border-radius: 0;
    color: #fff;
}

.supmenu:hover>a, .supmenu:focus>a, .submenu:hover>a, .submenu:focus>a {
    color: #FFFFFF;
    background: #A1A64A;
}